.toggle-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-holder img {
  transition: all 0.5s;
  border-radius: 50%;
  height: 34px;
}

.toggle-switch {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.hide
{
  opacity: 0;
}

.show
{
  opacity: 1;
}

.disabled
{
  filter: grayscale(1);
}