body, html {
  font-family: 'Arial', sans-serif;
  width: 400px;
  background-color: #030303;
  color: #f1f1f1;
  text-align: center;
}

a {
  color: #3ea6ff;
}

footer {
  width: 100%;
}

.switch {
  display: flex;
  justify-content: center;
}

.page-holder {
  margin: auto;
  width: 50%;
}

.logo {
  height: 30px;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.success {
  background-color: #4caf50;
  color: white;
}

button.error {
  background-color: #ff4d4d;
  color: white;
}

textarea {
  width: 80%;
}
